

/*
组件函数
*/

// 慢动作动画
@mixin function-transition-all-ease($sin: 0.3s) {
    transition: all $sin cubic-bezier(0.25, 0.1, 0.82, 0.44) 0s;
    -o-transition: all $sin cubic-bezier(0.25, 0.1, 0.82, 0.44) 0s;
    -ms-transition: all $sin cubic-bezier(0.25, 0.1, 0.82, 0.44) 0s;
    -moz-transition: all $sin cubic-bezier(0.25, 0.1, 0.82, 0.44) 0s;
    -webkit-transition: all $sin cubic-bezier(0.25, 0.1, 0.82, 0.44) 0s;
}

// 放大旋转动画
@mixin function-transform-scale-rotate($scale: 0.5, $rotate: 0deg) {
    transform: scale($scale, $scale) rotate($rotate);
    -ms-transform: scale($scale, $scale) rotate($rotate); /* Internet Explorer */
    -moz-transform: scale($scale, $scale) rotate($rotate); /* Firefox */
    -webkit-transform: scale($scale, $scale) rotate($rotate); /* Safari 和 Chrome */
    -o-transform: scale($scale, $scale) rotate($rotate); /* Opera */
}

// 渐变色线条
@mixin function-border-line($width: 40px, $height: 5px, $to: to right) {
    width: $width;
    height: $height;
    background: $theme-color;
    &.lr {
        background: linear-gradient($to, #def1e3, $theme-color);
        background: -moz-linear-gradient($to, #def1e3, $theme-color);
        background: -webkit-linear-gradient($to, #def1e3, $theme-color);
        background: -o-linear-gradient($to, #def1e3, $theme-color);
    }
    &.rl {
        background: linear-gradient($to, $theme-color, #def1e3);
        background: -moz-linear-gradient($to, $theme-color, #def1e3);
        background: -webkit-linear-gradient($to, $theme-color, #def1e3);
        background: -o-linear-gradient($to, $theme-color, #def1e3);
    }
}
